h1 {
    color: greenyellow;
    text-decoration: underline;
}

span {
    color: red;
    font-weight: bold;
}

p {
    font-size: 18px;
    width: 400px;
    text-indent: 50px;
    text-align: justify;
}