body{
    background-color: white;
    }

.menu, .parece_menu{
    width: 400px;
    height: 100px;
    background-color: green;
}

.content, .parece_content{
    width:400px;
    height:200px;
    background-color: burlywood
}
